<a href="https://colab.research.google.com/github/willdphan/kaggle-comps/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/train.csv")
test = pd.read_csv("/content/test.csv")
test_ids = test["PassengerId"]

In [3]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
def clean(data):
    # axis = 1 for the cols
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]

    for col in cols:
        # fill empty cols with mean data
        data[col].fillna(data[col].mean(), inplace=True)
        # fill empty embarked data with U
        data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

In [5]:
data.head(10)

   Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.000000      1      0   7.2500        S
1         1       1  female  38.000000      1      0  71.2833        C
2         1       3  female  26.000000      0      0   7.9250        S
3         1       1  female  35.000000      1      0  53.1000        S
4         0       3    male  35.000000      0      0   8.0500        S
5         0       3    male  29.699118      0      0   8.4583        Q
6         0       1    male  54.000000      0      0  51.8625        S
7         0       3    male   2.000000      3      1  21.0750        S
8         1       3  female  27.000000      0      2  11.1333        S
9         1       2  female  14.000000      1      0  30.0708        C

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
  data[col] = le.fit_transform(data[col])
  test[col] = le.fit_transform(test[col])
  print(le.classes_)

data.head(10)

['female' 'male']
['C' 'Q' 'S']

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.000000      1      0   7.2500         2
1         1       1    0  38.000000      1      0  71.2833         0
2         1       3    0  26.000000      0      0   7.9250         2
3         1       1    0  35.000000      1      0  53.1000         2
4         0       3    1  35.000000      0      0   8.0500         2
5         0       3    1  29.699118      0      0   8.4583         1
6         0       1    1  54.000000      0      0  51.8625         2
7         0       3    1   2.000000      3      1  21.0750         2
8         1       3    0  27.000000      0      2  11.1333         2
9         1       2    0  14.000000      1      0  30.0708         0

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [9]:
predictions = clf.predict(X_val)

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
accuracy_score(y_val, predictions)

0.8100558659217877

In [12]:
submission_preds = clf.predict(test)

In [13]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds,
                  })

In [15]:
df.to_csv("submission.csv", index=False)